<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
   <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
   <link rel="shortcut icon" type="image/png" href="static/img/favicon.png">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUs.css') }}">
   <title>Business Anatomy</title>

   <!-- Created by S-Tech04 -->

</head>

<body>

    <header class= "header">
        <div class="container">
            <input type="checkbox" name="" id="check">
            
            <div class="logo-container">
                <a href="./"><h3 class="logo">Business Anatomy</h3></a>
                  
              </div>
  
              <div class="nav-btn">
                  <div class="nav-links">
                      <ul>
                          <li class="nav-link" style="--i: .6s">
                            <a href="./index">Home</a>
                          </li>
                          <li class="nav-link" style="--i: .85s">
                              <a href="./services">Services</a>
                          </li>
                          <li class="nav-link" style="--i: 1.35s">
                            <a href="./aboutus">Team</a>
                        </li>
                          <li class="nav-link" style="--i: 1.1s">
                              <a href="./contactForm">Contact</i></a>
                          </li>
                      </ul>
                  </div>
  
                  <div class="log-sign" style="--i: 1.8s">
                      <a href="/dashboard" class="btn transparent">Overview</a>
                      
                  </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>

<!-- *********************************************header html ends***************************************** -->

<img src="static\img\OUR TEAM.png" alt="#" class="banner_img2">
<div class="banner">
    <!-- <div class="serviceHeader">
      <div class = "bannerContent">
        <h2> Our Team </h2>
        <p>Meet the Team behind the idea about this Innovation..!! </p>
        
      </div>
    </div> -->
</div>

<!-- ***************************************banner html ends********************************* -->

<div class="OurTeam">
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="static\img\shweta_mam.png" alt="#">
                </div>
                <div class="contentBx">
                    <h4>Dr.Shweta Jain </h4>
                    <h5>Our Mentor</h5>
                </div>
                <div class="sci">
                    <!-- <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                    <!-- <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                    <a href="https://www.linkedin.com/in/dr-shweta-jain"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>   


     <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                            <img src="static/img/Akshit.png" alt="#">
                    </div>
                    <div class="contentBx">
                            <h4>Akshit Narang</h4>
                            <h5>Full-Stack Developer</h5>
                            <h5>Data Analyst</h5>
                        </div>
                        <div class="sci">
                            <!-- <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                            <a href="https://instagram.com/narang_31?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/akshitnarang31"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            <div class="card">
                <div class="content">
                <div class="imgBx">
                    <img src="static/img/bhatia.png" alt="#">
                </div>
                <div class="contentBx">
                    <h4>Vedant Bhatia</h4>
                    <h5>Full-Stack Developer</h5>
                    <h5></h5>
                </div>
                <div class="sci">
                    <!-- <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                    <a href="https://instagram.com/i_vedantbhatia?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/vedant-bhatia-944387221"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="static/img/sagar.jpg" alt="#">
                </div>
                <div class="contentBx">
                    <h4>Sagar Sapre</h4>
                    <h5>Full-Stack Development</h5>
                    <h5></h5>
                </div>
                <div class="sci">
                    <a href="https://github.com/sagarsapre38"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/sagar._.sapre/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/sagar-sapre-496b90200/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <!-- <img src="static/img/pajji.png" alt="#"> -->
                </div>
                <div class="contentBx">
                    <h4>Vidhi Shrimali</h4>
                    <h5>Content Writer</h5>
                    <h5></h5>
                </div>
                <div class="sci">
                    <a href="https://rajveer1006.github.io/rsportfolio/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/rajveersinghbachher/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/tejveer-singh-butten-31428b1a6"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="static/img/ritvik.jpeg" alt="#">
                </div>
                <div class="contentBx">
                    <h4>Ritvik Chaudhary</h4>
                    <h5>Market Analyst</h5>
                    <h5></h5>
                </div>
                <div class="sci">
                    <a href="https://rajveer1006.github.io/rsportfolio/"><i class="fa fa-browser"></i></a>
                    <a href="https://www.instagram.com/rajveersinghbachher/"><i class="fa fa-instagram" ></i></a>
                    <a href="www.linkedin.com/in/rajveer-singh-bachher-5654a6193"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="static/img/rajveer.jpeg" alt="#">
                </div>
                <div class="contentBx">
                    <h4>Rajveer Singh Bachher</h4>
                    <h5>Content Writer</h5>
                    <h5></h5>
                </div>
                <div class="sci">
                    <a href="https://rajveer1006.github.io/rsportfolio/"><i class='bx bxl-chrome'></i></a>
                    <a href="https://www.instagram.com/rajveersinghbachher/"><i class="fa fa-instagram" ></i></a>
                    <a href="www.linkedin.com/in/rajveer-singh-bachher-5654a6193"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="static/img/himesh.jpeg" alt="#">
                </div>
                <div class="contentBx">
                    <h4>Himesh Singh Chauhan</h4>
                    <h5>Front-End Developer</h5>
                    <h5></h5>
                </div>
                <div class="sci">
                    <!-- <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                    <!-- <a href="https://instagram.com/7tejveer?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                    <a href="www.linkedin.com/in/himesh-singh-chauhan-34906a22a"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- **************************************footer ends***************************************** -->

<footer class = footer>
    <div class="footer-content">
        <h3>The Trinity</h3>
        <p> <b>Email : oppanchayat5@gmail.com </b> </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/panchayat5"><i class="fa fa-github"></i></a></li>
            <!-- <li><a href="#"><i class="fa fa-envelope"></i></a></li> -->
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>All right reserved by ©Trinity<span>designed with &#x2764</span></p>
    </div>
</footer>

</body>
</html>