<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Anatomy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Pro.css') }}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png">
</head>
<header class  ="header">
  <div class="container">
      <input type="checkbox" name="" id="check">
      
      <div class="logo-container">
        <a href="./"><h3 class="logo">Business Anatomy<span></span></h3></a>  
      </div>

      <div class="nav-btn">
          <div class="nav-links">
              <ul>
                  <li class="nav-link" style="--i: .6s">
                      <a href="./index">Home</a>
                  </li>
                  <li class="nav-link" style="--i: .85s">
                      <a href="./services">Services</a>
                  </li>
                  <!-- <li class="nav-link" style="--i: 1.35s">
                    <a href="./aboutus">Team</a>
                </li> -->
                  <li class="nav-link" style="--i: 1.1s">
                      <a href="./contactForm">Contact</i></a>
                  </li> 
                  <!-- <li class="nav-link" style="--i: 1.35s">
                      <a href="./dashboard">Overview</a>
                  </li> -->
                  <li class="nav-links1" style="--i: 1.8s">
                    <a href="./Premium">PRO</a>
                  </li> 
              </ul>
          </div>
          <!-- <div class="nav-links1">
            <ul>
              <li class="nav-links1" style="--i: 1.8s">
                <a href="./Premium">PRO</i></a>
              </li> 
          </ul>
          </div>   -->

          <div class="log-sign" style="--i: 1.8s">
              <a href="./login" class="btn transparent">Login</a>                  
          </div>
   
      </div>

      <div class="hamburger-menu-container">
          <div class="hamburger-menu">
              <div></div>
          </div>
      </div>
  </div> 
  </header>
<section class="pricing-tables content-area">
  <div class="container">
      <!-- Main title -->
      <div class="main-title text-center">
          <h1>Business Anatomy PRO plans</h1>
          <p>Become PRO for PRO-Analysis.</p>
      </div>
      <div class="row">
          <div class="col-sm-12 col-lg-4 col-md-4">
              <div class="pricing">
                  <div class="price-header">
                      <div class="title">1 MONTH-Plan</div>
                      <div class="price">₹199</div>
                  </div>
                  <div class="content">
                      <ul>
                          <li>5 SHOP access</li>
                          <li>32 Differnt parameters</li>
                          <!-- <li>50 Email Accounts</li> -->
                          <li>❌ Personalisatons</li>
                          <li></li>
                      </ul>
                      <button class="w3-btn w3-ripple w3-red" onclick="window.location.href='https://buy.stripe.com/test_8wM4iO9xp7Em1FucMM';">
                        Get Started
                      </button>
                      <!-- <form action="/https://buy.stripe.com/test_8wM4iO9xp7Em1FucMM" method="get, post">
                        <button>Checkout</button>
                    </form> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-4">
              <div class="pricing featured">
                  <div class="listing-badges">
                      <span class="featured">Featured</span>
                  </div>
                  <div class="price-header price-header-2">
                      <div class="title">6 MONTH-Plan</div>
                      <div class="price">₹499</div>
                  </div>
                  <div class="content">
                      <ul>
                          <li>20 SHOP access</li>
                          <li>32 Different parameters</li>
                          <!-- <li>50 Email Accounts</li> -->
                          <!-- <li>12GB Bandwidth</li> -->
                          <li>✅ Personalisatons</li>
                      </ul>
                      <button class="w3-btn w3-ripple w3-red" onclick="window.location.href='https://buy.stripe.com/test_cN2eXsbFx9Mu97W7sv';">
                        Get Started
                      </button>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-4">
              <div class="pricing">
                  <div class="price-header">
                      <div class="title">A YEAR-Plan</div>
                      <div class="price">₹999</div>
                  </div>
                  <div class="content">
                      <ul>
                          <li>30 SHOP access</li>
                          <li>50+ Different parameters </li>
                          <!-- <li>50 Email Accounts</li> -->
                          <!-- <li>12GB Bandwidth</li> -->
                          <li>UNLIMITED Personalisatons</li>
                      </ul>
                      <button class="w3-btn w3-ripple w3-red" onclick="window.location.href='https://buy.stripe.com/test_eVa2aG24X3o60Bq9AC';">
                        Get Started
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
    <footer class = footer>
      <div class="footer-content">
          <h3>Team Trinity</h3>
          <p> <b>Email : oppanchayat5@gmail.com </b> </p>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://github.com/panchayat5"><i class="fa fa-github"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-envelope"></i></a></li> -->
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>All right reserved by ©Trinity ggits <span>designed with &#x2764</span></p>
      </div>
    </footer>
  
</body>
</html>